<%= tag.div(**wrapper_attributes) do %>
  <% if label.present? || caption.present? %>
    <div class="ui-progress-meta">
      <% if label.present? %>
        <span class="ui-progress-label"><%= label %></span>
      <% end %>
      <% if caption.present? %>
        <span class="ui-progress-caption ui-tabular"><%= caption %></span>
      <% else %>
        <span class="ui-progress-caption ui-tabular"><%= percent %>%</span>
      <% end %>
    </div>
  <% end %>

  <%= tag.progress(**track_attributes) %>
<% end %>
